In [13]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [41]:
# read in data
test_values = pd.read_csv('data/Proj5_test_values.csv')
train_values = pd.read_csv('data/Proj5_train_values.csv')
train_labels = pd.read_csv('data/Proj5_train_labels.csv')

In [9]:
train_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [44]:
test_values

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,t,r,...,1,0,0,0,0,0,0,0,0,0
86864,663567,10,1407,11907,3,25,6,7,n,r,...,0,0,0,0,0,0,0,0,0,0
86865,1049160,22,1136,7712,1,50,3,3,t,r,...,0,0,0,0,0,0,0,0,0,0
86866,442785,6,1041,912,2,5,9,5,t,r,...,0,0,0,0,0,0,0,0,0,0
86867,501372,26,36,6436,2,10,11,4,t,r,...,0,0,0,0,0,0,0,0,0,0

In [47]:
testy = test_values.drop(['building_id'], axis=1)
testy

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
1,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
2,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
3,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
4,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
86864,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
86865,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
86866,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
86867,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

#### Label Encode Categorical columns only

In [48]:
le = LabelEncoder()
testy_enc = testy.apply(le.fit_transform)
testy_enc

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,17,576,9176,2,4,6,4,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,6,136,9738,1,5,12,3,2,2,0,...,1,0,0,0,0,0,0,0,0,0
2,22,17,8158,1,1,3,3,2,2,0,...,0,0,0,0,0,0,0,0,0,0
3,26,37,528,0,0,18,1,2,2,2,...,0,0,1,0,0,0,0,0,0,0
4,17,281,6489,2,3,7,5,2,2,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,4,585,2968,2,14,19,4,2,2,1,...,1,0,0,0,0,0,0,0,0,0
86864,10,1344,9674,2,5,5,5,0,2,0,...,0,0,0,0,0,0,0,0,0,0
86865,22,1090,6282,0,10,2,1,2,2,0,...,0,0,0,0,0,0,0,0,0,0
86866,6,998,756,1,1,8,3,2,2,0,...,0,0,0,0,0,0,0,0,0,0
86867,26,34,5258,1,2,10,2,2,2,1,...,0,0,0,0,0,0,0,0,0,0

In [55]:
test_values['building_id']

0         300051
1          99355
2         890251
3         745817
4         421793
          ...
86863     310028
86864     663567
86865    1049160
86866     442785
86867     501372
Name: building_id, Length: 86868, dtype: int64

In [45]:
le = LabelEncoder()
test_values_enc = test_values.apply(le.fit_transform)
test_values_enc

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,24577,17,576,9176,2,4,6,4,2,2,...,0,0,0,0,0,0,0,0,0,0
1,8289,6,136,9738,1,5,12,3,2,2,...,1,0,0,0,0,0,0,0,0,0
2,73429,22,17,8158,1,1,3,3,2,2,...,0,0,0,0,0,0,0,0,0,0
3,61655,26,37,528,0,0,18,1,2,2,...,0,0,1,0,0,0,0,0,0,0
4,34701,17,281,6489,2,3,7,5,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,25404,4,585,2968,2,14,19,4,2,2,...,1,0,0,0,0,0,0,0,0,0
86864,54769,10,1344,9674,2,5,5,5,0,2,...,0,0,0,0,0,0,0,0,0,0
86865,86562,22,1090,6282,0,10,2,1,2,2,...,0,0,0,0,0,0,0,0,0,0
86866,36480,6,998,756,1,1,8,3,2,2,...,0,0,0,0,0,0,0,0,0,0
86867,41364,26,34,5258,1,2,10,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [7]:
le = LabelEncoder()
train_values_enc = train_values.apply(le.fit_transform)
train_values_enc

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,198723,6,482,11250,1,6,5,3,2,2,...,0,0,0,0,0,0,0,0,0,0
1,7210,8,891,2602,1,2,7,5,1,2,...,0,0,0,0,0,0,0,0,0,0
2,23774,21,359,8286,1,2,4,3,2,2,...,0,0,0,0,0,0,0,0,0,0
3,146212,22,413,9868,1,2,5,3,2,2,...,0,0,0,0,0,0,0,0,0,0
4,50437,11,129,1371,2,6,7,7,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,170650,25,1322,1491,0,11,5,1,0,2,...,0,0,0,0,0,0,0,0,0,0
260597,165884,17,708,1893,1,0,5,3,2,2,...,0,0,0,0,0,0,0,0,0,0
260598,149084,17,50,7546,2,11,5,5,2,2,...,0,0,0,0,0,0,0,0,0,0
260599,37871,26,38,1702,1,2,13,4,2,2,...,0,0,0,0,0,0,0,0,0,0
260600,185249,21,8,8406,2,2,6,4,0,2,...,0,0,0,0,0,0,0,0,0,0

#### Baseline + TTS

In [10]:
# establish X + y

X = train_values_enc
y = train_labels['damage_grade']

In [11]:
# tts

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state = 123)

#### Modeling

In [14]:
# # COMPETITION MODEL

forest_no_scale = RandomForestClassifier(n_jobs = -1, random_state = 123, max_depth = 11, max_features = 35)
forest_no_scale.fit(X_train, y_train)

RandomForestClassifier(max_depth=11, max_features=35, n_jobs=-1,
                       random_state=123)

In [15]:
forest_no_scale.score(X_test, y_test)

0.7023529953492655

In [17]:
preds = forest_no_scale.predict(X_test)

In [18]:
preds

array([2, 2, 2, ..., 3, 2, 2], dtype=int64)

In [19]:
# establish X + y

X = test_values_enc
y = train_labels['damage_grade']

In [25]:
test_values_enc.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,24577,17,576,9176,2,4,6,4,2,2,...,0,0,0,0,0,0,0,0,0,0
1,8289,6,136,9738,1,5,12,3,2,2,...,1,0,0,0,0,0,0,0,0,0
2,73429,22,17,8158,1,1,3,3,2,2,...,0,0,0,0,0,0,0,0,0,0
3,61655,26,37,528,0,0,18,1,2,2,...,0,0,1,0,0,0,0,0,0,0
4,34701,17,281,6489,2,3,7,5,2,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
forest_no_scale.score(X, y_test)

In [20]:
comp_preds = forest_no_scale.predict(X)

In [22]:
len(comp_preds)

86868

In [33]:
forest_no_scale_sub = pd.DataFrame({'building_id': test_values_enc['building_id'], 
                             'damage_grade': comp_preds})
forest_no_scale_sub.head()

   building_id  damage_grade
0        24577             3
1         8289             2
2        73429             2
3        61655             1
4        34701             3

In [40]:
forest_no_scale_sub.to_csv('data/ChrisMartinSubmission.csv')

In [22]:
# test to ensure X_train.columns + feature_importances are same length

print(len(X_train.columns))
print(len(forest_no_scale.feature_importances_))

38
38

In [18]:
# Extra Trees

params = {'max_depth' : [6, 7, 8, 9, 10, 11],
          'max_features' : [15, 20, 30, 35]}

grid_trees2 = GridSearchCV(ExtraTreesClassifier(n_jobs = -1, random_state = 123), param_grid = params)

grid_trees2.fit(X_train, y_train)

print(f'Train Score: {grid_trees2.score(X_train, y_train)}')
print(f'Test Score: {grid_trees2.score(X_test, y_test)}')

grid_trees2.best_params_

Train Score: 0.7470964441033512
Test Score: 0.6785878741366078

{'max_depth': 11, 'max_features': 35}

In [25]:
# grab feature importances

trees_no_scale = ExtraTreesClassifier(n_jobs = -1, random_state = 123, max_depth = 11, max_features = 35)
trees_no_scale.fit(X_train, y_train)

ExtraTreesClassifier(max_depth=11, max_features=35, n_jobs=-1, random_state=123)

In [26]:
trees_no_scale_fi = pd.DataFrame({'importances': trees_no_scale.feature_importances_, 
                             'name': X_train.columns}).sort_values('importances', ascending = False)
trees_no_scale_fi[:5]

    importances                                 name
0      0.403074                       geo_level_1_id
8      0.103231  has_superstructure_mud_mortar_stone
7      0.049536         has_superstructure_adobe_mud
11     0.035086  has_superstructure_mud_mortar_brick
1      0.033954                       geo_level_2_id

In [27]:
# test to ensure X_train.columns + feature_importances are same length

print(len(X_train.columns))
print(len(trees_no_scale.feature_importances_))

38
38