In [99]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import f1_score

In [2]:
#Set viewing options
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', None)

In [11]:
trainlabel = pd.read_csv('train_10pct_labels.csv')

In [12]:
train = pd.read_csv('train_10pct.csv')

In [5]:
trainlabel.shape

(26059, 2)

In [6]:
train.shape

(26059, 39)

In [8]:
train.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train.isna().sum()

building_id                               0
geo_level_1_id                            0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
foundation_type                           0
roof_type                                 0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
dtype: int64

In [5]:
train['has_superstructure_adobe_mud'].unique()

array([1, 0], dtype=int64)

In [ ]:
#EDA count_floors_pre_eq                       0
# age                                       0
# area_percentage                           0
# height_percentage                         0
# land_surface_condition                    0
# foundation_type                           0
# roof_type                                 0
# ground_floor_type                         0
# other_floor_type                          0
# position                                  0
# plan_configuration

In [43]:
train_labels['damage_grade'].value_counts(normalize=True)

2    0.568912
3    0.334680
1    0.096408
Name: damage_grade, dtype: float64

In [45]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26059 entries, 0 to 26058
Data columns (total 39 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   building_id                             26059 non-null  int64
 1   geo_level_1_id                          26059 non-null  int64
 2   geo_level_2_id                          26059 non-null  int64
 3   geo_level_3_id                          26059 non-null  int64
 4   count_floors_pre_eq                     26059 non-null  int64
 5   age                                     26059 non-null  int64
 6   area_percentage                         26059 non-null  int64
 7   height_percentage                       26059 non-null  int64
 8   land_surface_condition                  26059 non-null  object
 9   foundation_type                         26059 non-null  object
 10  roof_type                               26059 non-null  object
 11  ground_floor_type                       26059 non-null  object
 12  other_floor_type                        26059 non-null  object
 13  position                                26059 non-null  object
 14  plan_configuration                      26059 non-null  object
 15  has_superstructure_adobe_mud            26059 non-null  int64
 16  has_superstructure_mud_mortar_stone     26059 non-null  int64
 17  has_superstructure_stone_flag           26059 non-null  int64
 18  has_superstructure_cement_mortar_stone  26059 non-null  int64
 19  has_superstructure_mud_mortar_brick     26059 non-null  int64
 20  has_superstructure_cement_mortar_brick  26059 non-null  int64
 21  has_superstructure_timber               26059 non-null  int64
 22  has_superstructure_bamboo               26059 non-null  int64
 23  has_superstructure_rc_non_engineered    26059 non-null  int64
 24  has_superstructure_rc_engineered        26059 non-null  int64
 25  has_superstructure_other                26059 non-null  int64
 26  legal_ownership_status                  26059 non-null  object
 27  count_families                          26059 non-null  int64
 28  has_secondary_use                       26059 non-null  int64
 29  has_secondary_use_agriculture           26059 non-null  int64
 30  has_secondary_use_hotel                 26059 non-null  int64
 31  has_secondary_use_rental                26059 non-null  int64
 32  has_secondary_use_institution           26059 non-null  int64
 33  has_secondary_use_school                26059 non-null  int64
 34  has_secondary_use_industry              26059 non-null  int64
 35  has_secondary_use_health_post           26059 non-null  int64
 36  has_secondary_use_gov_office            26059 non-null  int64
 37  has_secondary_use_use_police            26059 non-null  int64
 38  has_secondary_use_other                 26059 non-null  int64
dtypes: int64(31), object(8)
memory usage: 7.8+ MB

In [44]:
train.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

In [37]:
##https://intellipaat.com/community/1161/label-encoding-across-multiple-columns-in-scikit-learn
    le = LabelEncoder()
train_enc = train.apply(le.fit_transform)
train_enc

       building_id  geo_level_1_id  geo_level_2_id  geo_level_3_id  count_floors_pre_eq  age  area_percentage  height_percentage  land_surface_condition  foundation_type  roof_type  ground_floor_type  other_floor_type  position  plan_configuration  has_superstructure_adobe_mud  has_superstructure_mud_mortar_stone  has_superstructure_stone_flag  has_superstructure_cement_mortar_stone  has_superstructure_mud_mortar_brick  has_superstructure_cement_mortar_brick  has_superstructure_timber  has_superstructure_bamboo  has_superstructure_rc_non_engineered  has_superstructure_rc_engineered  has_superstructure_other  legal_ownership_status  count_families  has_secondary_use  has_secondary_use_agriculture  has_secondary_use_hotel  has_secondary_use_rental  has_secondary_use_institution  has_secondary_use_school  has_secondary_use_industry  has_secondary_use_health_post  has_secondary_use_gov_office  has_secondary_use_use_police  has_secondary_use_other
0            19838               6             435            7525                    1    6                5                  3                       2                2          0                  0                 1         3                   2                             1                                    1                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
1              678               8             802            1716                    1    2                7                  5                       1                2          0                  3                 1         2                   2                             0                                    1                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
2             2319              21             322            5535                    1    2                4                  3                       2                2          0                  0                 3         3                   2                             0                                    1                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
3            14549              22             370            6597                    1    2                5                  3                       2                2          0                  0                 3         2                   2                             0                                    1                              0                                       0                                    0                                       0                          1                          1                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
4             5001              11             115             928                    2    6                7                  7                       2                2          0                  0                 3         2                   2                             1                                    0                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
...            ...             ...             ...             ...                  ...  ...              ...                ...                     ...              ...        ...                ...               ...       ...                 ...                           ...                                  ...                            ...                                     ...                                  ...                                     ...                        ...                        ...                                   ...                               ...                       ...                     ...             ...                ...                            ...                      ...                       ...                            ...                       ...                         ...                            ...                           ...                           ...                      ...
26054        11229              20             169            1422                    0    3                4                  2                       2                2          0                  0                 0         2                   2                             0                                    1                              0                                       0                                    0                                       0                          1                          1                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
26055          347              20            1047             894                    1    2                7                  3                       2                2          1                  3                 1         2                   2                             0                                    1                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
26056         5972              10            1268            7344                    2   13                5                  5                       2                2          0                  0                 1         2                   2                             1                                    1                              1                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
26057        24218              17             208            6169                    2    5                7                  5                       2                2          1                  0                 1         3                   2                             0                                    1                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0
26058        22448              21              41            3624                    1    2                7                  3                       2                2          0                  0                 1         3                   2                             0                                    1                              0                                       0                                    0                                       0                          0                          0                                     0                                 0                         0                       2               1                  0                              0                        0                         0                              0                         0                           0                              0                             0                             0                        0

[26059 rows x 39 columns]

In [38]:
train_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26059 entries, 0 to 26058
Data columns (total 39 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   building_id                             26059 non-null  int64
 1   geo_level_1_id                          26059 non-null  int64
 2   geo_level_2_id                          26059 non-null  int64
 3   geo_level_3_id                          26059 non-null  int64
 4   count_floors_pre_eq                     26059 non-null  int64
 5   age                                     26059 non-null  int64
 6   area_percentage                         26059 non-null  int64
 7   height_percentage                       26059 non-null  int64
 8   land_surface_condition                  26059 non-null  int32
 9   foundation_type                         26059 non-null  int32
 10  roof_type                               26059 non-null  int32
 11  ground_floor_type                       26059 non-null  int32
 12  other_floor_type                        26059 non-null  int32
 13  position                                26059 non-null  int32
 14  plan_configuration                      26059 non-null  int32
 15  has_superstructure_adobe_mud            26059 non-null  int64
 16  has_superstructure_mud_mortar_stone     26059 non-null  int64
 17  has_superstructure_stone_flag           26059 non-null  int64
 18  has_superstructure_cement_mortar_stone  26059 non-null  int64
 19  has_superstructure_mud_mortar_brick     26059 non-null  int64
 20  has_superstructure_cement_mortar_brick  26059 non-null  int64
 21  has_superstructure_timber               26059 non-null  int64
 22  has_superstructure_bamboo               26059 non-null  int64
 23  has_superstructure_rc_non_engineered    26059 non-null  int64
 24  has_superstructure_rc_engineered        26059 non-null  int64
 25  has_superstructure_other                26059 non-null  int64
 26  legal_ownership_status                  26059 non-null  int32
 27  count_families                          26059 non-null  int64
 28  has_secondary_use                       26059 non-null  int64
 29  has_secondary_use_agriculture           26059 non-null  int64
 30  has_secondary_use_hotel                 26059 non-null  int64
 31  has_secondary_use_rental                26059 non-null  int64
 32  has_secondary_use_institution           26059 non-null  int64
 33  has_secondary_use_school                26059 non-null  int64
 34  has_secondary_use_industry              26059 non-null  int64
 35  has_secondary_use_health_post           26059 non-null  int64
 36  has_secondary_use_gov_office            26059 non-null  int64
 37  has_secondary_use_use_police            26059 non-null  int64
 38  has_secondary_use_other                 26059 non-null  int64
dtypes: int32(8), int64(31)
memory usage: 7.0 MB

In [32]:
train_enc.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

In [147]:
train_enc.to_csv('train_10pct_encoded')